name: CI Docker Build & Push
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Login to Docker hub
        uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build image
        run: docker build -t zivenben/myapp:latest .
      - name: Push image
        run: docker push zivenben/myapp:latest
